.container,
.content,
.email-img,
.what-to-do-next,
.head,
.resend-button-div button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background: rgba(172, 172, 172, 0.1);
  min-height: 100vh;
  gap: 20px;
}

.content {
  min-width: 50%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  gap: 20px;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.08),
    0 12px 20px rgba(0, 0, 0, 0.12);

  flex-direction: column;
}

.email-img {
  gap: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--red-to-pink-to-purple-horizontal-gradient);
}

h2 {
  letter-spacing: 3px;
  line-height: 30px;
}

.content > p:first-of-type {
  font-weight: 450;
  font-size: 14px;
  color: var(--gray-400);
}

.user-email {
  color: var(--vivid-pink);
  background-color: rgb(255, 0, 179, 0.1);
  padding: 5px 10px;
  border-radius: 8px;
  word-break: break-all;
}

.what-to-do-next {
  background-color: rgba(172, 172, 172, 0.1);
  padding: 20px;
  border: 2px solid rgba(172, 172, 172, 0.4);
  border-radius: 8px;
  flex-direction: column;
  gap: 20px;
  min-width: 60%;
}

.head {
  gap: 8px;
  font-weight: 500;
}
.steps {
  align-self: flex-start;
}
.steps p {
  margin-bottom: 15px;
  font-size: 14px;
}
.steps span {
  background-color: var(--vivid-pink);
  margin-right: 10px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
}

.resend-button-div button {
  color: white;
  border-radius: 10px;
  background: var(--red-to-pink-to-purple-horizontal-gradient);
  border: none;
  padding: 16px;
  cursor: pointer;
  gap: 8px;
}
