.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
header h2 {
  letter-spacing: 1.2px;
  font-weight: 500;
}
header p {
  color: var(--gray-400);
  font-size: 14px;
}
header a {
  display: flex;
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--vivid-pink);
  border-radius: 10px;
  color: white;
  max-width: fit-content;
  font-size: 14px;
  align-self: flex-end;
}

section {
  background: white;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

section .search,
section .priority-filter,
section .status-filter {
  background: var(--gray-100);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
}
input,
select,
option {
  border: none;
  outline: none;
  width: 100%;
  background: none;
  font-size: 14px;
}

section .search {
  flex: 1 1 45%;
}
section .status-filter {
  flex: 1 1 20%;
}
section .priority-filter {
  flex: 1 1 20%;
}
table {
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.347);
}
thead {
  background: var(--gray-100);
}
th {
  font-weight: 500;
  color: rgb(9, 17, 43);
  text-align: left;
  padding: 10px;
}
td {
  padding: 10px;
  color: var(--gray-700);
}

/* Status */
.status-pending {
  color: orange;
  background: rgb(180, 118, 3);
}

.status-in-progress {
  color: blue;
  background: rgb(180, 181, 254);
}

.status-completed {
  color: green;
}

.status-cancelled {
  color: red;
}

/* Priority */
.priority-low {
  background-color: #d4edda;
  color: #155724;
  padding: 2px 6px;
  border-radius: 4px;
}

.priority-medium {
  background-color: #fff3cd;
  color: #856404;
  padding: 2px 6px;
  border-radius: 4px;
}

.priority-high {
  background-color: #f8d7da;
  color: #721c24;
  padding: 2px 6px;
  border-radius: 4px;
}
