.container {
  background-color: rgba(255, 211, 255, 0.34);
  min-height: 100vh;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.content {

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.left,
.right {
  display: flex;
  flex-direction: column;
  flex: 1 1 45%;
}

.lock {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  height: 100px;
  width: 100px;
  margin-bottom: 50px;
}
.lock div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  width: 100%;
  height: 100%;
  background: var(--purple-pink-orange-gradient);
}

h1 {
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 50px;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}
.boxes .box {
  background-color: white;
  border-radius: 16px;
  padding: 20px;
}
.boxes .box .box-title {
  font-size: 14px;
  font-weight: 500;
}
.boxes .box .box-paragraph {
  font-size: 12px;
  color: var(--gray-700);
}

@media (max-width: 900px) {
  .content {
    flex-direction: column;
  }
  .boxes{
    grid-template-columns: 1fr;
  }
}

.right {
  background-color: white;
  padding: 40px;
  border-radius: 16px;
}

h3 {
  font-weight: 500;
  text-align: center;
}
.right > p {
  text-align: center;
  font-size: 14px;
  color: var(--gray-700);
}

label {
  margin: 50px 0 5px 0;
  font-weight: 500;
}
input {
  border: none;
  background: none;
  outline: none;
}
.input-box {
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--gray-100);
  padding: 10px;
  border-radius: 8px;
}

button {
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  border: none;
  color: white;
  border-radius: 8px;
  font-weight: 500;
}

.invalid-btn {
  cursor: not-allowed;
  background: var(--gray-100);
}

.valid-btn {
  cursor: pointer;
  background: var(--purple-pink-orange-gradient);
}

.divider {
  margin-top: 50px;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #888;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ddd;
}
.divider:not(:empty)::before {
  margin-right: 0.5em;
}

.divider:not(:empty)::after {
  margin-left: 0.5em;
}

.go-to-login a {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: 1px solid var(--gray-400);
  gap: 5px;
  border-radius: 6px;
  color: black;
  padding: 8px;
  text-decoration: none;
  font-weight: 500;
}
.go-to-login img {
  width: 14px;
}

.tip{
    border: 1px solid rgba(221, 160, 221, 0.8);
    background: rgba(221, 160, 221, 0.199);
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    margin-top: 50px;
}
.tip span{
    font-weight: 500;
}