<div class="container">
  <div class="lock-img">
    <img src="assets/lock.png" alt="lock" />
  </div>

  <h1>Reset Your Password</h1>

  <p style="color: var(--gray-700); text-align: center">Enter a new password for your account</p>

  <form>
    <div class="password">
      <p>New Password</p>

      <div class="input-box">
        <img src="assets/lock-password.png" alt="lock-password" />
        <input
          type="password"
          placeholder="Enter your new password"
          [formField]="resetPasswordForm.password"
        />
        <img src="assets/view.png" alt="view" />
      </div>
    </div>

    <div class="password">
      <p>Confirm New Password</p>

      <div class="input-box">
        <img src="assets/lock-password.png" alt="lock-password" />
        <input
          type="password"
          placeholder="Re-enter your new password"
          [formField]="resetPasswordForm.confirmPassword"
        />
        <img src="assets/view.png" alt="view" />
      </div>
    </div>

    @if (resetPasswordForm().invalid() && resetPasswordForm().touched()) {
      <div class="errors">


      @for (error of resetPasswordForm.password().errors(); track $index) {
        <div class="error-message">
          *{{ error.message }}
        </div>
      }
      @for (error of resetPasswordForm.confirmPassword().errors(); track $index) {
        <div class="error-message">
          *{{ error.message }}
        </div>
      }
            </div>
    }

    <div class="roles-parent">
      <h5>Your password must contain:</h5>

      <div class="roles">
        <div class="role">
          <p [class]="hasMinLength() ? 'colored-circle' : 'circle'"></p>
          <div class="text">
            <p>Minimum 6 characters</p>
            <p>{{ passwordCount() }}/6 characters</p>
          </div>
        </div>

        <div class="role">
          <p [class]="hasUpperCase() && hasLowerCase() ? 'colored-circle' : 'circle'"></p>
          <div class="text">
            <p>Upper & lowercase letters</p>
            <p>Mix of A-Z and a-z</p>
          </div>
        </div>

        <div class="role">
          <p [class]="hasNumber() ? 'colored-circle' : 'circle'"></p>
          <div class="text">
            <p>At least one number</p>
            <p>include 0-9</p>
          </div>
        </div>

        <div class="role">
          <p [class]="hasSpecialChar() ? 'colored-circle' : 'circle'"></p>
          <div class="text">
            <p>Special character</p>
            <p>!@#$%^&* etc.</p>
          </div>
        </div>
      </div>
    </div>

    <button
      (click)="resetPassword($event)"
      [disabled]="resetPasswordForm().invalid()"
      [class]="resetPasswordForm().invalid() ? 'not-allowed' : 'allowed'"
    >
      Update Password
    </button>
    @if (resMessage) {
      <div class="res-message">
        {{ resMessage }}
      </div>
    } @else if (errMessage) {
      <div class="error-message">
        *{{ errMessage }}
      </div>
    }
  </form>
</div>
