.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: fit-content;
 
  padding-top: 30px;
  padding-bottom: 50px;
  background: var(--gray-100);
}

.lock-img {
  background: black;
  padding: 10px 15px;
  border-radius: 10px;
}
.lock-img img {
  width: 20px;
}
h1 {
  font-weight: 500;
  line-height: 35px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  margin: auto 10px;
}

.password p {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.2px;
  margin-bottom: 5px;
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
  border-radius: 10px;
  background: var(--gray-100);
}
input {
  color: var(--gray-400);
  outline: none;
  border: none;
  width: 100%;
  padding: 5px;
  background: none;
  font-size: 14px;
}
input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}
.input-box img {
  width: 14px;
}
.roles-parent h5 {
  letter-spacing: 1.2px;
  margin: 20px auto;
}
.roles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background: var(--gray-100);
  padding: 20px;
  border-radius: 10px;
}
.role {
  display: flex;
  align-items: center;
  gap: 10px;
}
.role .circle {
  width: 10px;
  height: 10px;
  border: 2px solid var(--gray-400);
  border-radius: 50%;
}
.role .text  p:first-of-type{
font-size: 14px;
}
.role .text p:not(:first-of-type){
font-size: 10px;
color: var(--gray-400);
}

button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
}

